@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;700;800;900&family=Suez+One&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #000;
    font-family: Trebuchet MS, Helvetica, serif;
}

@media (min-width: 1001px) {
    #logo {
        float: left;
        width: 30%;
        font-size: 1.1em;
    }

    #menu {
        float: right;
        width: 57%;
    }

    #menu > a:not(:last-child) {
        margin-right: 7%;
    }
}

body.lock{
    overflow: hidden;
}

@media (min-width: 1001px) and (max-width: 1220px){
    #menu > a:not(:last-child) {
        width: auto;
        margin-right: 2%;
    }
    #top{
        font-size: 2.5em;
    }
}

@media (max-width: 1000px) {
    #logo {
        text-align: center;
        margin-top: 15px;
        float: none;
        width: 100%;
        font-size: 3em;
    }

    #menu {
        float: left;
        width: 100%;
    }

    #menu > a:not(:last-child) {
        margin-right: 5%;
    }

    #top{
        padding-top: 50%;
        font-size: 2.5em;
    }
}